# Python
__pycache__/
*.pyc
venv/
*.pyo
*.pyd
.Python

# VSCode / JetBrains etc
.vscode/
.idea/
harm 
# Node
node_modules/

# MacOS
.DS_Store

# Logs
*.log

# Env files
.env
.env.local
.env.*.local
*.db
